{"openapi":"3.0.1","info":{"title":"QANDDING API","description":"Q&Ding 프로젝트 API 명세서","version":"v1"},"servers":[{"url":"https://qandding.store","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Answer Post","description":"답변 게시글 관련 API (생성/조회/삭제)"},{"name":"Question","description":"질문 관련 API"},{"name":"Catalog","description":"과목/교수 검색 API"},{"name":"Answer Selection","description":"질문자가 답변 채택/취소하는 API"},{"name":"Comment","description":"댓글 관련 API"},{"name":"Storage","description":"파일 저장소 관련 API"},{"name":"User","description":"사용자 관련 API"},{"name":"AI","description":"공통 AI 기능 API"},{"name":"Answer Feed","description":"AI 최상위 + 사용자 답변 페이징 API"},{"name":"AI Answer","description":"AI 답변 생성 API"}],"paths":{"/api/users/complete-profile":{"put":{"tags":["User"],"summary":"프로필 정보 완성","description":"최초 로그인 후 사용자 프로필 정보를 완성합니다.","operationId":"completeProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompleteProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Response"}}}}}}},"/api/questions":{"get":{"tags":["Question"],"summary":"질문 목록 조회","description":"조건에 맞는 질문 목록을 페이징하여 조회합니다.","operationId":"list","parameters":[{"name":"subjectId","in":"query","description":"과목 ID (선택)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"professorId","in":"query","description":"교수 ID (선택)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"keyword","in":"query","description":"검색 키워드 (제목/내용)","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"조회 상태 필터 (ALL, ANSWERED, UNANSWERED, ADOPTED)","required":false,"schema":{"type":"string","default":"ALL","enum":["ALL","ANSWERED","UNANSWERED","ADOPTED"]}},{"name":"page","in":"query","description":"페이지 번호","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponse"},"example":{"content":[{"id":1,"title":"이 문제 어떻게 푸나요?","authorNickname":"학생1","subjectName":"미적분학","professorName":"김교수","createdAt":"2025-08-27T10:00:00","hasAiAnswer":true,"hasMemberAnswer":false,"isAdopted":false},{"id":2,"title":"2번 문제 질문입니다.","authorNickname":"학생2","subjectName":"미적분학","professorName":"김교수","createdAt":"2025-08-27T11:00:00","hasAiAnswer":true,"hasMemberAnswer":true,"isAdopted":true}],"page":0,"size":10,"totalElements":2,"totalPages":1,"last":true}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseSummary"}}}}}},"post":{"tags":["Question"],"summary":"질문 생성 (Presigned URL 방식)","description":"S3에 선업로드 후, 파일 URL과 함께 질문 내용을 JSON으로 받아 생성합니다.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionCreateRequest"}}},"required":true},"responses":{"404":{"description":"관련 정보(사용자, 과목, 교수)를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"400":{"description":"잘못된 요청 데이터","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"201":{"description":"질문 생성 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponse"},"example":{"code":"CREATED","message":"생성 성공","data":1}}}}}}},"/api/comments":{"get":{"tags":["Comment"],"summary":"댓글 목록 조회","description":"특정 답변의 댓글(대댓글 포함)을 스레드 형태로 페이징 조회합니다.","operationId":"list_1","parameters":[{"name":"answerPostId","in":"query","description":"답변 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"페이지 번호","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponse"},"example":{"content":[{"parent":{"id":1,"nickname":"parent_user","content":"이것은 부모 댓글입니다.","createdAt":"2025-08-21T10:00:00Z","imageUrls":[]},"replies":[{"id":2,"nickname":"reply_user","content":"이것은 대댓글입니다.","createdAt":"2025-08-21T10:05:00Z","imageUrls":[]}]}],"page":0,"size":10,"totalElements":1,"totalPages":1,"last":true}}}}}},"post":{"tags":["Comment"],"summary":"댓글 생성 (Presigned URL 방식)","description":"S3에 선업로드 후, 파일 URL과 함께 댓글 내용을 JSON으로 받아 생성합니다.","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentCreateRequest"}}},"required":true},"responses":{"404":{"description":"답변을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"201":{"description":"댓글 생성 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponse"},"example":{"code":"CREATED","message":"생성 성공","data":1}}}},"400":{"description":"잘못된 요청 데이터","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}}},"/api/comments/reply":{"post":{"tags":["Comment"],"summary":"대댓글 생성 (Presigned URL 방식)","description":"S3에 선업로드 후, 파일 URL과 함께 대댓글 내용을 JSON으로 받아 생성합니다.","operationId":"reply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplyCreateRequest"}}},"required":true},"responses":{"201":{"description":"대댓글 생성 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponse"},"example":{"code":"CREATED","message":"생성 성공","data":2}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"404":{"description":"부모 댓글을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"400":{"description":"잘못된 요청 데이터","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}}},"/api/auth/refresh":{"post":{"tags":["auth-controller"],"summary":"Access Token 재발급","description":"유효한 Refresh Token으로 새로운 Access Token과 Refresh Token을 발급받습니다.","operationId":"refreshToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenRefreshResponse"}}}}}}},"/api/auth/logout":{"post":{"tags":["auth-controller"],"summary":"로그아웃","description":"서버에 저장된 사용자의 모든 토큰(Access, Refresh)을 무효화합니다.","operationId":"logout","responses":{"200":{"description":"OK"}}}},"/api/answers":{"post":{"tags":["Answer Post"],"summary":"답변 게시글 생성 (Presigned URL 방식)","description":"S3에 선업로드 후, 파일 URL과 함께 답변 내용을 JSON으로 받아 생성합니다.","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnswerCreateRequest"}}},"required":true},"responses":{"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"201":{"description":"답변 게시글 생성 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponse"},"example":{"code":"CREATED","message":"생성 성공","data":1}}}},"404":{"description":"질문을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"400":{"description":"잘못된 요청 데이터","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}}},"/api/answers/selection":{"post":{"tags":["Answer Selection"],"summary":"답변 채택","description":"질문 작성자가 유저 답변을 채택합니다. AI 답변은 채택 불가.","operationId":"adopt","parameters":[{"name":"answerPostId","in":"query","description":"채택할 답변 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"답변을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"400":{"description":"잘못된 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"200":{"description":"답변 채택 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}},"delete":{"tags":["Answer Selection"],"summary":"채택 취소","description":"질문 작성자가 현재 채택된 답변을 취소합니다.","operationId":"unadopt","parameters":[{"name":"questionPostId","in":"query","description":"질문 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"채택 취소 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponse"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"404":{"description":"질문을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}}},"/api/ai/generate":{"post":{"tags":["AI"],"summary":"텍스트 생성","description":"주어진 프롬프트로 AI가 텍스트를 생성합니다.","operationId":"generate","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"생성 성공","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"잘못된 요청","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/ai-answers/generate":{"post":{"tags":["AI Answer"],"summary":"AI 답변 생성/재생성","description":"프롬프트 또는 파일(OCR) 기반으로 AI 답변을 생성하거나, 기존 AI 답변이 있다면 대체합니다.","operationId":"generateUnified","parameters":[{"name":"questionPostId","in":"query","description":"질문 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"prompt","in":"query","description":"프롬프트 (선택)","required":false,"schema":{"type":"string"}},{"name":"title","in":"query","description":"제목 (선택)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","description":"파일(이미지/PDF, 선택)","format":"binary"}}}}}},"responses":{"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Detail"}}}},"404":{"description":"질문을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Detail"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Detail"}}}},"400":{"description":"잘못된 요청 데이터","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Detail"}}}},"200":{"description":"AI 답변 생성/재생성 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Detail"}}}}}}},"/api/users/me":{"get":{"tags":["User"],"summary":"내 정보 조회","description":"현재 로그인된 사용자의 정보를 조회합니다.","operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Response"}}}}}},"delete":{"tags":["User"],"summary":"회원 탈퇴","description":"현재 로그인된 사용자를 탈퇴 처리합니다.","operationId":"withdraw","responses":{"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"200":{"description":"회원 탈퇴 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponse"}}}}}},"patch":{"tags":["User"],"summary":"내 정보 부분 업데이트","description":"현재 로그인된 사용자의 닉네임, 학년, 전공을 부분 업데이트합니다.","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Response"}}}}}}},"/api/users/posts":{"get":{"tags":["User"],"summary":"내가 쓴 글 보기","description":"현재 로그인된 사용자가 작성한 질문글과 답변글을 페이징하여 조회합니다.","operationId":"getMyPosts","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"401":{"description":"인증되지 않은 사용자입니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserPostsResponse"}}}},"400":{"description":"잘못된 요청입니다 (예: 유효하지 않은 페이지 번호).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserPostsResponse"}}}},"500":{"description":"서버 내부 오류가 발생했습니다.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserPostsResponse"}}}},"200":{"description":"성공적으로 내가 쓴 글 목록을 조회했습니다.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPostsResponse"},"examples":{"내가 쓴 글 목록 예시":{"summary":"내가 쓴 글 목록 조회 성공 예시","description":"내가 쓴 글 목록 예시","value":{"posts":[{"postType":"QUESTION","postId":101,"title":"첫 번째 질문입니다.","createdAt":"2025-08-19T10:00:00Z","originalQuestionId":null},{"postType":"ANSWER","postId":205,"title":"답변 드립니다.","createdAt":"2025-08-18T15:30:00Z","originalQuestionId":123},{"postType":"QUESTION","postId":102,"title":"두 번째 질문입니다.","createdAt":"2025-08-17T09:00:00Z","originalQuestionId":null}],"page":0,"size":10,"totalElements":48,"totalPages":5}}}}}}}}},"/api/subjects/search":{"get":{"tags":["Catalog"],"summary":"과목 검색","description":"이름 일부로 과목을 검색합니다. 예: '경제' → '경제학개론' 등","operationId":"searchSubjects","parameters":[{"name":"query","in":"query","description":"검색어","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"서버 오류","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"code":"INTERNAL_SERVER_ERROR","message":"Internal server error.","timestamp":"2025-08-19T10:00:00.000+00:00","errors":[]}}}},"200":{"description":"성공적으로 과목 목록을 조회했습니다.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubjectSummary"},"example":[{"id":1,"name":"Subject1"},{"id":2,"name":"Subject2"}]}}},"400":{"description":"잘못된 요청","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"code":"BAD_REQUEST","message":"Bad request.","timestamp":"2025-08-19T10:00:00.000+00:00","errors":[]}}}}}}},"/api/storage/presign":{"get":{"tags":["Storage"],"summary":"S3 업로드용 Presigned URL 생성","description":"파일 업로드를 위한 S3 Presigned URL을 생성합니다.","operationId":"presign","parameters":[{"name":"key","in":"query","description":"S3 객체 키","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/storage/presign-get":{"get":{"tags":["Storage"],"summary":"S3 다운로드용 Presigned URL 생성","description":"파일 다운로드를 위한 S3 Presigned URL을 생성합니다.","operationId":"presignGet","parameters":[{"name":"url","in":"query","description":"S3 URL","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/questions/{id}":{"get":{"tags":["Question"],"summary":"질문 상세 조회","description":"특정 질문의 상세 정보를 조회합니다.","operationId":"get","parameters":[{"name":"id","in":"path","description":"질문 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"질문을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Detail"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Detail"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Detail"},"example":{"id":1,"title":"미적분학 1번 문제 질문입니다.","content":"이 문제의 풀이 과정이 이해가 안 됩니다. 특히 이 부분(사진)이요.","authorNickname":"질문자1","subjectName":"미적분학","professorName":"김교수","imageUrls":["https://example.com/image1.jpg","https://example.com/image2.png"],"createdAt":"2025-08-27T10:00:00","updatedAt":"2025-08-27T10:05:00","hasAiAnswer":true,"hasMemberAnswer":false,"isAdopted":false}}}}}},"delete":{"tags":["Question"],"summary":"질문 삭제","description":"특정 질문을 삭제합니다.","operationId":"delete","parameters":[{"name":"id","in":"path","description":"질문 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"질문 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponse"},"example":{"code":"NO_CONTENT","message":"성공","data":1}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"404":{"description":"질문을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}}},"/api/professors/by-subject":{"get":{"tags":["Catalog"],"summary":"과목별 교수 목록","description":"선택된 과목을 담당하는 교수 목록을 조회합니다.","operationId":"listProfessorsBySubject","parameters":[{"name":"subjectId","in":"query","description":"과목 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"서버 오류","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"code":"INTERNAL_SERVER_ERROR","message":"Internal server error.","timestamp":"2025-08-19T10:00:00.000+00:00","errors":[]}}}},"400":{"description":"잘못된 요청","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"code":"BAD_REQUEST","message":"Bad request.","timestamp":"2025-08-19T10:00:00.000+00:00","errors":[]}}}},"200":{"description":"성공적으로 교수 목록을 조회했습니다.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfessorSummary"},"example":[{"id":101,"name":"Professor Kim"},{"id":102,"name":"Professor Lee"}]}}}}}},"/api/answers/{id}":{"get":{"tags":["Answer Post"],"summary":"답변 게시글 상세 조회","description":"특정 답변 게시글의 상세 정보를 조회합니다.","operationId":"get_1","parameters":[{"name":"id","in":"path","description":"답변 ID (AnswerPost ID)","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"답변을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Detail"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Detail"}}}},"400":{"description":"잘못된 요청 데이터","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Detail"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Detail"},"example":{"id":1,"title":"미적분학 1번 문제 답변입니다.","content":"이 문제의 풀이 과정은 다음과 같습니다...","authorNickname":"답변자1","createdAt":"2025-08-27T10:00:00","imageUrls":["https://example.com/answer_image1.jpg"]}}}}}},"delete":{"tags":["Answer Post"],"summary":"답변 게시글 삭제","description":"특정 답변 게시글을 삭제합니다.","operationId":"delete_2","parameters":[{"name":"id","in":"path","description":"답변 ID (AnswerPost ID)","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"답변을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"200":{"description":"답변 게시글 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponse"},"example":{"code":"NO_CONTENT","message":"성공","data":1}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}}},"/api/answers/combined":{"get":{"tags":["Answer Feed"],"summary":"AI 최상단 + 사용자 답변 페이징","description":"AI 답변을 최상단으로, 이후 사용자 답변을 3개씩 페이징하여 상세 정보를 반환합니다.","operationId":"combined","parameters":[{"name":"questionPostId","in":"query","description":"질문 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"페이지 번호","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"페이지 크기","required":false,"schema":{"type":"integer","format":"int32","default":3}}],"responses":{"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Combined"}}}},"404":{"description":"질문을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Combined"}}}},"500":{"description":"서버 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Combined"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Combined"},"example":{"ai":{"id":1,"title":"AI 답변 제목","content":"AI 답변 내용입니다.","authorNickname":"AI","createdAt":"2025-08-20T10:00:00Z","imageUrls":[],"ai":true,"isAdopted":false},"users":{"content":[{"id":101,"title":"사용자 답변 1 제목","content":"사용자 답변 1 내용입니다.","authorNickname":"user1","createdAt":"2025-08-20T10:05:00Z","imageUrls":["http://example.com/image1.jpg"],"isAdopted":false},{"id":102,"title":"사용자 답변 2 제목","content":"사용자 답변 2 내용입니다.","authorNickname":"user2","createdAt":"2025-08-20T10:10:00Z","imageUrls":[],"isAdopted":true}],"pageable":{"pageNumber":0,"pageSize":3,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":1,"totalElements":2,"last":true,"first":true,"numberOfElements":2,"size":3,"number":0,"empty":false}}}}},"400":{"description":"잘못된 요청 데이터","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Combined"}}}}}}},"/":{"get":{"tags":["health-controller"],"operationId":"root","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/comments/{id}":{"delete":{"tags":["Comment"],"summary":"댓글 삭제","description":"특정 댓글을 삭제합니다.","operationId":"delete_1","parameters":[{"name":"id","in":"path","description":"댓글 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"댓글 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponse"},"example":{"code":"NO_CONTENT","message":"성공","data":1}}}},"401":{"description":"인증 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"404":{"description":"댓글을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}}},"/error":{"get":{"tags":["custom-error-controller"],"operationId":"handleError","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"put":{"tags":["custom-error-controller"],"operationId":"handleError_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"post":{"tags":["custom-error-controller"],"operationId":"handleError_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"delete":{"tags":["custom-error-controller"],"operationId":"handleError_5","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"options":{"tags":["custom-error-controller"],"operationId":"handleError_6","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"head":{"tags":["custom-error-controller"],"operationId":"handleError_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"patch":{"tags":["custom-error-controller"],"operationId":"handleError_4","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"components":{"schemas":{"CompleteProfileRequest":{"required":["grade","major","nickname"],"type":"object","properties":{"nickname":{"maxLength":20,"minLength":0,"type":"string"},"grade":{"maxLength":20,"minLength":0,"type":"string"},"major":{"maxLength":50,"minLength":0,"type":"string"}}},"Response":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"email":{"type":"string"},"nickname":{"type":"string"},"grade":{"type":"string"},"major":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"QuestionCreateRequest":{"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"},"subjectId":{"type":"integer","format":"int64"},"professorId":{"type":"integer","format":"int64"},"imageUrls":{"type":"array","items":{"type":"string"}}}},"CommonResponse":{"type":"object","properties":{"message":{"type":"string","description":"응답 메시지","example":"요청에 성공했습니다."},"code":{"type":"integer","description":"응답 코드 (HTTP Status Code)","format":"int32","example":200},"success":{"type":"boolean","description":"성공 여부","example":true},"data":{"type":"object","description":"응답 데이터"}},"description":"API 공통 응답"},"CommonResponseLong":{"type":"object","properties":{"message":{"type":"string","description":"응답 메시지","example":"요청에 성공했습니다."},"code":{"type":"integer","description":"응답 코드 (HTTP Status Code)","format":"int32","example":200},"success":{"type":"boolean","description":"성공 여부","example":true},"data":{"type":"integer","description":"응답 데이터","format":"int64"}},"description":"API 공통 응답"},"CommentCreateRequest":{"type":"object","properties":{"answerPostId":{"type":"integer","format":"int64"},"content":{"type":"string"},"imageUrls":{"type":"array","items":{"type":"string"}}}},"ReplyCreateRequest":{"type":"object","properties":{"parentCommentId":{"type":"integer","format":"int64"},"content":{"type":"string"},"imageUrls":{"type":"array","items":{"type":"string"}}}},"RefreshTokenRequest":{"type":"object","properties":{"refreshToken":{"type":"string"}}},"TokenRefreshResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"message":{"type":"string"}}},"AnswerCreateRequest":{"type":"object","properties":{"questionPostId":{"type":"integer","format":"int64"},"title":{"type":"string"},"content":{"type":"string"},"imageUrls":{"type":"array","items":{"type":"string"}}}},"Detail":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"content":{"type":"string"},"authorNickname":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"imageUrls":{"type":"array","items":{"type":"string"}},"ai":{"type":"boolean"},"adopted":{"type":"boolean"}}},"UpdateProfileRequest":{"type":"object","properties":{"nickname":{"maxLength":20,"minLength":0,"type":"string"},"grade":{"maxLength":20,"minLength":0,"type":"string"},"major":{"maxLength":50,"minLength":0,"type":"string"}}},"UnifiedPostDto":{"type":"object","properties":{"postType":{"type":"string","description":"글의 종류 (QUESTION | ANSWER)","example":"QUESTION"},"postId":{"type":"integer","description":"글 ID","format":"int64","example":1},"title":{"type":"string","description":"글 제목","example":"JPA 질문입니다"},"createdAt":{"type":"string","description":"생성 시간","format":"date-time"},"originalQuestionId":{"type":"integer","description":"답변글인 경우, 원본 질문글의 ID","format":"int64","nullable":true,"example":123}},"description":"사용자가 작성한 글(질문 또는 답변)의 통합 정보"},"UserPostsResponse":{"type":"object","properties":{"posts":{"type":"array","description":"글 목록 (질문, 답변 통합 및 최신순 정렬)","items":{"$ref":"#/components/schemas/UnifiedPostDto"}},"page":{"type":"integer","description":"현재 페이지","format":"int32","example":0},"size":{"type":"integer","description":"페이지 크기","format":"int32","example":10},"totalElements":{"type":"integer","description":"전체 글 수","format":"int64","example":55},"totalPages":{"type":"integer","description":"전체 페이지 수","format":"int32","example":6}},"description":"사용자가 작성한 글 통합 목록 응답"},"ApiErrorResponse":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationErrorDetail"}}}},"ValidationErrorDetail":{"type":"object","properties":{"field":{"type":"string"},"value":{"type":"object"},"reason":{"type":"string"}}},"SubjectSummary":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"PageResponse":{"type":"object","properties":{"content":{"type":"array","items":{"type":"object"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"PageResponseSummary":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/Summary"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"Summary":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"authorNickname":{"type":"string"},"subjectName":{"type":"string"},"professorName":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"hasAiAnswer":{"type":"boolean"},"hasMemberAnswer":{"type":"boolean"},"adopted":{"type":"boolean"}}},"ProfessorSummary":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"Combined":{"type":"object","properties":{"ai":{"$ref":"#/components/schemas/Detail"},"users":{"$ref":"#/components/schemas/PageResponseDetail"}}},"PageResponseDetail":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/Detail"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}}},"securitySchemes":{"bearerAuth":{"type":"http","name":"Authorization","in":"header","scheme":"bearer","bearerFormat":"JWT"}}}}